
@{
    ViewBag.Title = "AboutUs";
}

<link href="~/Stylesheet/AboutUs.css" rel="stylesheet" />

<header>
    <div>
        <div class="main-head">
            <img class="logo1" src="~/Image/Quezon_City.svg.png" />
            <ul class="navbar-brand">
                <li class="links"><a href="~/Bagbag/Index">BARANGAY BAGBAG</a></li>
            </ul>

            <nav class="nav">

                <ul>
                    <li class="links"><a href="~/Bagbag/Index">Home</a></li>
                    <li class="links"><a href="~/Bagbag/AboutUs">About</a></li>
                    <li class="links"><a href="~/Bagbag/Index/#services">Services</a></li>
                    <li class="links"><a href="~/Bagbag/Index/#announcement">Announcements</a></li>
                    <li class="links"><a href="~/Bagbag/Index/#scholarships">Scholarships</a></li>
                </ul>

            </nav>
        </div>
    </div>
</header>
@*--------------------------------------------------------------------------------------------------------------------------------------------------------*@
<div class="align">
    <div align="center">
        <img class="pic1" height="200" width="200" src="~/Image/logo.jpg" />
    </div>
    <div class="text">
        <h2 style="text-align:center; color:limegreen; text-shadow:2px 2px black;">HISTORICAL BACKGROUND OF BAGBAG</h2>
        <p>
            The term Bagbag originated from a large, mountainous place with hard adobe rocks, which when flattened to give way for early settlement produced a loud thudding sound bag – bag! Thence became Bagbag that has been existing since the Spanish era when the local head was the cabeza de barangay. The first of which was Vicente Bernardino. The term then has evolved into tiniente del barrio which later on became kapitan del barrio or barangay captain/barangay chairman, a position that was first handled by Reynaldo B. Llegado, Sr. during the Martial Law years. With the assumption to power of the late president Corazon Aquino, Dr. Beatriz Carreon was appointed OIC by the transition government. In 1989, the first post – Martial Law elections was held, wherein Reynaldo B. Llegado won, serving from 1989 – 1994, followed by Renato R. Roque (1994 – 1997), then Constancia V. Ambita (1997 – 2001) and a short stint by Renato R. Roque. In the barangay elections of 2002, Carlito R. Bernardino won, serving from 2002 – 2013. The barangay elections of 2013 brought a new leadership in the person of the incumbent Richard V. Ambita who has achieved a landslide approval of Bagbagueños in the 2018 barangay elections.
        </p>
    </div>
    <br />
    <div class="text">
        <h2 style="text-align:center; color:limegreen; text-shadow:2px 2px black;">BSPO MISSION</h2>
        <p>
            The barangay shall promote peace and order, ensure public safety, strengthen capability of members, through active participation and professionalized the public service.
        </p>
    </div>
    <br />
    <div class="text">
        <h2 style="text-align:center; color:limegreen; text-shadow:2px 2px black;">BSPO VISION</h2>
        <p>
            A strongly determine and highly trusted department, committed to all government units, public order and safety to sustain peaceful, progressive and resilient communities where people lives happily
        </p>
    </div>
    <br />
    <div class="text">
        <h2 style="text-align:center; color:limegreen; text-shadow:2px 2px black;">PAGKABUHAY CLUSTER</h2>
        <p>Blas Roque, Goldhill, Callejon, 615 Interior, Biglang-awa, 625 Parokya Road, Sementeryo, Goodwill Town Homes, Carreon, Goodwill II, Armando, Urbano, Sinforosa and Wings Itaas.</p>
    </div>
    <br />
    <div class="text">
        <h2 style="text-align:center; color:limegreen; text-shadow:2px 2px black;">QUIRINO CLUSTER</h2>
        <p>Quirino Highway, Celina Drive, Franco, Don Julio Gregorio, Road 1, 2, 3, 4, De Asis, Richland V, Abbey Road, Marides, Manggahan, Bernarty, Narra, Ibayo I Cleofas, St. Michael, Magno, Urcia, Remarville, Remarville Ave, Mangilog, Princess Homes, Apollo, Old Paliguan, Princess Homes and Gawad Kalinga.</p>
    </div>
    <br />
    <div class="text">
        <h2 style="text-align:center; color:limegreen; text-shadow:2px 2px black;">KING CLUSTER</h2>
        <p>
            Camp Grezar, Sinag-Tala, Santos Compound, Coronel Compound, Dupax, Wings Bungad, Wings Gitna, Mantikaan, Katipunan Kaliwa, Likas, Daniac, Francisco, Babina, Bicol Compound, Katipunan Kanan, Kingspoint, Alipio, Maloles, San Pedro 9, Oro Compound, Uping and Pinera Compound. The presence of Tullahan River puts the community in high risk of vulnerability to flooding that also affects the surrounding areas’ health and sanitation. Vulnerable
            areas with regards to annual inundation are: Don Julio Gregorio, Ibayo 2, Abbey Road, Oro Compound, Pinera Compound, Francisco Compound and Uping Compound. Informal settlers are found settled at Oro Compound, Pinera, Maloles, Bicol
            Compound, Katipunan Kanan, Unang Tangke, Daniac, Babina Compound, Francisco, Katipunan Kaliwa, Camp Grezar, Wings (Bungad), Wings (Gitna), Wings (Taas), Dupax (Jorgeville), Sinagtala, Franco, Road 1, 2, 3, 4, R-7, Abbey Road, Manggahan, Narra, Ibayo II (Ibaba), Ibayo II, Maligaya, Ibayo I, (Cleofas), Marides, 604, 615, Celina Drive, Urbano, Urbano (Looban), Armando, Sementeryo and Alipio. These areas are not only vulnerable to fire but also to flood due to their proximity to
            creeks/waterways and poor waste management practice. High rise buildings are located at Grand Monaco, El Pueblo and Bistekville 8, which are also considered as vulnerable to earthquake.
        </p>
    </div>
</div>


